<div class="moderation">
  See something that worries you?<br>
  <%= mail_to('webmaster@riscosopen.org', 'Ask a moderator', subject: "Issue at #{request.url}") %>!
  More info <a href="/content/documents/guidelines">here</a>.
</div>
