</div><!-- (from <div id="template_above_footer"> in fixed header) -->

<!-- Footer -->

<hr class="for_no_css_browers" style="display: none">

<div id="template_footer_2025">
  <div id="template_footer_links_theme">
    <% if Rails.env.development? %>
      <span id="template_footer_environment">Development</span>
      <span class="template_navigation_divider">&nbsp;|&nbsp;</span>
    <% end %>
    <a class="template_navigation" href="/content/contact">Contact Us</a>
    <span class="template_navigation_divider">&nbsp;|&nbsp;</span>
    <a class="template_navigation" href="/content/about">About Us</a>
    <p />
    <!-- Theme start
      <% if try(:appctrl_radiant_snippets_are_available) == true %>
        <r:snippet name="theme" />
      <% else %>
        <%= render partial: "shared/theme" %>
      <% end %>
    Theme end -->
    <br />
    Site design &copy; RISC OS Open Limited 2025 except where indicated
  </div>
  <div id="template_footer_links_powered">
    <span class="template_navigation_divider"><b>Hosted by</b></span>
    <a class="template_navigation" href="http://www.arachsys.com">Arachsys</a>
    <p />
    <!-- Powered start
      <% if try(:appctrl_radiant_snippets_are_available) == true %>
        <r:snippet name="powered" />
      <% else %>
        <%= render partial: "shared/powered" %>
      <% end %>
    Powered end -->
    <br />
    This site runs on <a href="http://www.rubyonrails.org/">Rails</a>
  </div>
</div>
