<div id="template_above_footer">

  <!-- Global header -->

  <div id="template_header_2025">
    <div id="template_header_content">
      <div id="template_header_text_container">
        <a href="/"><div id="template_header_rool_text"></div></a>
        <a href="/">
          <div id="template_header_rool_tagline">
            Safeguarding the past, present and future of RISC OS for <strong>everyone</strong>
          </div>
        </a>
      </div>

      <div id="template_header_logo_container">
        <a id="template_header_cog_link" href="/"><div id="template_header_cog"></div></a>
      </div>
    </div>
  </div>

  <!-- Global navigation -->

  <div id="template_navigation">
    <div id="template_navigation_content">
      <nav id="template_navigation_main">
        <a class="template_navigation" href="/news/">News</a>
        <a class="template_navigation" href="/content/downloads">Downloads</a>
        <a class="template_navigation" href="/tracker/">Bugs</a>
        <a class="template_navigation" href="/bounty/">Bounties</a>
        <a class="template_navigation" href="/forum/">Forums</a>
        <a class="template_navigation" href="/wiki">Library</a>

        <div class="template_navigation" id="template_navigation_hub">
          <%= hubssolib_account_link() unless @service_fault %><%# @service_fault -> See Hub TasksController#service %>
        </div>
      </nav>
    </div>
  </div>

  <hr class="for_no_css_browers" style="display: none">
