<div class="template_sidebar_node">
  <h3>Social</h3>

  <div class="simple_flex_row centred with_gaps">
    Follow us on
    <a class="powered" href="https://www.facebook.com/rool.social"><img src="https://www.riscosopen.org/images/third_party/facebook_sm.png" alt="Facebook" width="24" height="24" /></a>
    and
    <a class="powered" href="https://twitter.com/risc_os" alt="Twitter / X"><img src="https://www.riscosopen.org/images/third_party/twitter_sm.png" width="18" height="18" /></a>
  </div>
</div>

<div class="template_sidebar_node">
  <h3>ROOL Store</h3>

  <p>
    <a class="powered float_right" href="/content/sales"><img src="https://www.riscosopen.org/images/risc_os_open/sdfs.png" /></a>
    Buy RISC OS Open merchandise <a href="/content/sales">here</a>, including SD cards for Raspberry Pi and more.
  </p>
</div>

<div class="template_sidebar_node">
  <h3>Donate!&nbsp;<a href="/content/donations">Why?</a></h3>

  <p>
    Help ROOL make things happen &ndash;
    <strong><a href="/bounty">please consider donating!</a></strong>
  </p>
</div>

<div class="template_sidebar_node">
  <h3>RISC OS IPR</h3>

  <p>
    <a class="powered float_right" href="https://www.riscosdev.com/"><img src="https://www.riscosopen.org/images/third_party/ROD-Shield.jpg" /></a>
    RISC OS is an Open Source operating system owned by
    <a href="https://www.riscosdev.com/">RISC OS Developments Ltd</a> and licensed primarily under
    the
    <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache 2.0</a> license.
  </p>
</div>
